.Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto 0px;
  border-bottom: 1px solid rgb(226, 226, 226);
  background-color: white;
  position: fixed;
  width: 100%; /* 부모(#root)의 너비를 따름 */
  left : 0;
  height: 50px;
  z-index: 1000;
}

.Header>div {
  display: flex;
  align-items: center;
}

.header_left{
  cursor: pointer;
  margin-left: 10px;
}

.header-util{
  margin-right: 10px;
}

.header_left>img {
  height: 50px;
}

.header-util {
  display: flex;
  align-items: center;
}

.header-util li {
  position: relative;
  padding: 0 5px;
}

ul.header-util li:first-child:before {
  display: none;
}

ul.header-util li::before {
  content: "";
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-left: -5px;
}

.btn-icon {
  margin-top: 0px;
  cursor: 'pointer'
}