@tailwind base;
@tailwind components;
@tailwind utilities;

.icon-font {
  font-family: 'YourFontFamily', sans-serif;
  font-weight: bold;
  font-size: 24px;
  color: #5E35B1;
}

ul {
  list-style: none;
}

html,
body {
  margin: 0px;
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: rgb(243, 240, 240) ;
  min-height: 100%;
}

.header_box {
  background-color: #E0C6E6;
  width: 100%;
  height: 40px;
  border-radius: 15px;
}

 .inputbox {
  padding: 10px;
  border-radius: 15px;
  box-sizing: border-box;
  border: none;
}

#root {
  background-color: white;
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  box-shadow: rgba(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 20px;
  display: flex; 
  flex-direction: column; 
}